<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>732059365045-ujtsjke1fo9ckviuukhksurphgb0hr86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732059365045-ujtsjke1fo9ckviuukhksurphgb0hr86</string>
	<key>API_KEY</key>
	<string>AIzaSyBVDkPQmoNZJ3zB1SL4SIT0RQjtlSup3gs</string>
	<key>GCM_SENDER_ID</key>
	<string>732059365045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DarraghBlake.To-Do-List</string>
	<key>PROJECT_ID</key>
	<string>todo-list-833fb</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-833fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732059365045:ios:47e3beb43c2deb5f</string>
	<key>DATABASE_URL</key>
	<string>https://todo-list-833fb.firebaseio.com</string>
</dict>
</plist>